/* app/globals.css */

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f8f9fa;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
